COMPOSE_PROJECT_NAME=sysadmin11

FRONTEND_PORT=80
SSH_PORT=22

POSTGRES_DB=infra_app
POSTGRES_USER=infra_admin
POSTGRES_PASSWORD=Practica11_DB_ChangeMe

PGADMIN_DEFAULT_EMAIL=admin@sysadmin.local
PGADMIN_DEFAULT_PASSWORD=Practica11_PGAdmin_ChangeMe

APP_MESSAGE=Aplicacion interna protegida por balanceador Nginx
