COMPOSE_PROJECT_NAME=sysadmin12

# Dominio y nombre del servidor de correo
DOMAIN=reprobados.com
HOSTNAME=mail

# Credenciales de base de datos para Roundcube (MariaDB)
DB_ROOT_PASSWORD=Practica12_Root_ChangeMe
DB_USER=roundcube_user
DB_PASSWORD=Practica12_DB_ChangeMe